.landingcontainer {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.landingtextcontainer {
  width: 55%;
  z-index: 2;
  padding-left: 90px;
  padding-right: 90px;
}

.landingcontainer h1{
  font-size: 50px;
  font-weight: 200;
}

.landingcontainer sub{
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 100;
  line-height: 40px;

}

.landingimagecontainer {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 100%;
}

.infocontainer {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.infoleft {
  font-size: 50px;
  font-weight: 200;
  width: 30%;
}

.inforight {
  width: 50%;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 100;
  line-height: 40px;
}

.infoapart {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.note {
  position: absolute;
  -webkit-transition: -webkit-transform 2s linear;
  opacity: 0;
}

.ParticleNoMouse {
  opacity: 0;
  position:absolute;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  pointer-events:none;
}

@media only screen and (max-width: 800px) {
  .landingtextcontainer {
    width: 100%;
  }
  .landingimagecontainer {
    width: 0px;
  }
}
