.landingcontainer {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.landingtextcontainer {
  width: 56%;
  z-index: 2;
  padding-left: 90px;
  padding-right: 90px;
}

.landingcontainer h1{
  font-size: 50px;
  font-weight: 200;
}

.landingcontainer sub{
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 100;
}

.landingimagecontainer {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 100%;
}

.note {
  position: absolute;
  -webkit-transition: -webkit-transform 2s linear;
  opacity: 0;
}

.emailsection {
  background-color: #F9F9F9;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 200;
}

.emaillink {
  color: black;
  text-decoration: none;
  cursor: pointer;
  margin-top: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  font-weight: 100;
}

.addresssection {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 200;
}

.brownlogo {
  height: 20%;
  margin-bottom: 20px;
  width: auto;
}

.addresstext {
  font-family: 'Raleway', sans-serif !important;
  font-size: 35px !important;
  font-weight: 100 !important;
}

@media only screen and (max-width: 800px) {
  .landingtextcontainer {
    width: 100%;
  }
  .landingimagecontainer {
    width: 0px;
  }
}
