body {
  height: 100%;
  overflow: hidden;
}

.landingcontainer {
  overflow: hidden;
  height: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.landingtextcontainer {
  width: 50%;
  z-index: 2;
  padding-left: 90px;
  padding-right: 40px;
}

.landingcontainer h1{
  font-size: 50px;
  font-weight: 200;
}

.landingcontainer sub{
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 100;
}

.landingimagecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.note {
  position: absolute;
  -webkit-transition: -webkit-transform 2s linear;
  opacity: 0;
}

.ParticleNoMouse {
  opacity: 1;
  position:absolute;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  pointer-events:none;
}

.window {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 230px;
  left: 172px;
  z-index: -1;
}

.shipcontainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
