input {
  width: 100%;
  border-radius: 0;
  background:none;
  -webkit-transition: .15s ease-in-out;
  -moz-transition: .15s ease-in-out;
  -o-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
  margin-top: 24px;
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  font-size: 24px;
  font-weight: 100;
  color: black;
  padding-bottom: 10px;
  border-bottom: 1px solid #c9c9c9;
  shadow: none;
}
input:hover {
  border-bottom-color: #7d7d7d;
}
input:focus {
  border-bottom-color: black;
}
input::placeholder {
  font-size: 24px;
  font-weight: 100;
  color: #c9c9c9
}

input.submit {
  border: none;
  width: 85px;
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 20px;
  cursor: pointer;
  background-color: #c9c9c9;
  color: white;
}

input.submit {
  border: none;
  width: 85px;
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 20px;
  cursor: pointer;
  background-color: #c9c9c9;
  color: white;
}

input.submit:hover {
  background-color: #b4a0eb;
}

input.submit:active {
  opacity: 0.3;
}

textarea {
  height: 42px;
  resize: none;
  width: 100%;
  background:none;
  -webkit-transition: .15s ease-in-out;
  -moz-transition: .15s ease-in-out;
  -o-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
  margin-top: 24px;
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  font-size: 24px;
  font-weight: 100;
  color: black;
  padding-bottom: 10px;
  border-bottom: 1px solid #c9c9c9;
}

textarea::placeholder {
  font-size: 24px;
  font-weight: 100;
  color: #c9c9c9
}

textarea:hover {
  height: 60px;
  border-bottom-color: #7d7d7d;
}
textarea:focus {
  height: 100px;
  border-bottom-color: black;
}

header {
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer {
  position: fixed;
  opacity: 0;
  display: flex;
  bottom: 0px;
  height: 50px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  z-index: 4;
}

body {
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
}

div {
  font-family: 'Roboto Slab', serif;
}

.spacer {
  height: 100px;
}

.logosmall {
  border: 1px solid black;
  margin-left: 8px;
  height: 20px;
  width: auto;
}

.footerCredit {
  opacity: 0.5;
  font-weight: 100;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right:40px;
}

.footerCredit.button {
  cursor: pointer;
  padding: 5px;
}
.footerCredit.button:hover {
  transition: 0.3s;
  opacity: 0.2;
}

.headercontent {
  width: 100vw;
  padding-left: 40px;
  padding-right: 40px;
  height: 100px;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.headerblock {
  background-color: white;
  z-index: 3;
  position: fixed;
  width: 100%;
  height: 100px;
}

.icon-bar {
  width: 22px;
  transition: all 0.2s;
}

.logocontainer{
  transition: 0.2s;
  cursor: pointer;
  z-index: 2;
}
.logocontainer:hover {
  opacity: 0.8;
}

.logo {
  z-index: 2;
  max-width: 90px;
  height: auto;
}

.link {
  color: #269dff;
  transition: 0.2s;
  cursor: pointer;
}
.link:hover {
  opacity: 0.6;
}

.submissionresponse {
  z-index: -1;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 100;
  position: absolute;
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  opacity: 0;
  margin-top: 18px;
}
.submissionresponse.visible {
  opacity: 1;
}

.invert {
  transition: 0.3s;
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

* {
  margin: 0;
  padding: 0;
}

.inputrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.inputrow input {
  width: calc(50% - 10px);
}

#nav-icon {
  z-index: 2;
  width: 20px;
  height: 14px;
  position: relative;
  margin: 25px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .15s ease-in-out;
  -moz-transition: .15s ease-in-out;
  -o-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
}

#nav-icon span:nth-child(1) {
  margin-left: 40%;
  width: 60%;
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(2) {
  top: 6px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(3) {
  top: 12px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

/* open styles */
#nav-icon.open span {
  background-color: white;
}

#nav-icon.open span:nth-child(1) {
  margin-left: 0%;
  width: 100%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -2px;
  left: 3px;
}

#nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 12px;
  left: 3px;
}

/* hover styles */
#nav-icon:hover span:nth-child(1) {
  margin-left: 0%;
  width: 100%;
  -webkit-transition: .15s ease-in-out;
  -moz-transition: .15s ease-in-out;
  -o-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
}
