header {
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

body {
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
}

div {
  font-family: 'Roboto Slab', serif;
}

.spacer {
  height: 100px;
}

.headercontent {
  width: 100vw;
  padding-left: 40px;
  padding-right: 40px;
  height: 100px;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.headerblock {
  background-color: white;
  z-index: 3;
  position: fixed;
  width: 100%;
  height: 100px;
}

.icon-bar {
  width: 22px;
  transition: all 0.2s;
}

.logocontainer{
  transition: 0.2s;
  cursor: pointer;
  z-index: 2;
}
.logocontainer:hover {
  opacity: 0.8;
}

.logo {
  z-index: 2;
  max-width: 90px;
  height: auto;
}

.invert {
  transition: 0.3s;
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

* {
  margin: 0;
  padding: 0;
}

#nav-icon {
  z-index: 2;
  width: 20px;
  height: 14px;
  position: relative;
  margin: 25px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .15s ease-in-out;
  -moz-transition: .15s ease-in-out;
  -o-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
}

#nav-icon span:nth-child(1) {
  margin-left: 40%;
  width: 60%;
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(2) {
  top: 6px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(3) {
  top: 12px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

/* open styles */
#nav-icon.open span {
  background-color: white;
}

#nav-icon.open span:nth-child(1) {
  margin-left: 0%;
  width: 100%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -2px;
  left: 3px;
}

#nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 12px;
  left: 3px;
}

/* hover styles */
#nav-icon:hover span:nth-child(1) {
  margin-left: 0%;
  width: 100%;
  -webkit-transition: .15s ease-in-out;
  -moz-transition: .15s ease-in-out;
  -o-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
}
