header {
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

body {
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
}

div {
  font-family: 'Roboto Slab', serif;
}

.headerblock {
  background-color: white;
  z-index: 3;
  position: fixed;
  width: 100%;
  height: 100px;
}

.planet {
  position: absolute;
  z-index: 2;
  height: 600px;
  width: 600px;
}
.stars {
  position: absolute;
  z-index: 1;
  width: auto;
  height: 700px;
  -webkit-transition: .85s ease-in-out;
  -moz-transition: .85s ease-in-out;
  -o-transition: .85s ease-in-out;
  transition: .85s ease-in-out;
}

.headercontent {
  width: 100vw;
  padding-left: 40px;
  padding-right: 40px;
  height: 100px;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon-bar {
  width: 22px;
  transition: all 0.2s;
}

.logocontainer{
  z-index: 2;
}

.logo {
  z-index: 2;
  max-width: 90px;
  height: auto;
}

.invert {
  transition: 0.3s;
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

.spacer {
  height: 100px;
}

.landingcontainer {
  height: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.landingtextcontainer {
  padding-left: 90px;
}

.landingcontainer h1{
  font-size: 50px;
  font-weight: 200;
}

.landingcontainer sub{
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 200;
}
