header {
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

input {
  -webkit-transition: .15s ease-in-out;
  -moz-transition: .15s ease-in-out;
  -o-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
  margin-top: 14px;
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  font-size: 30px;
  font-weight: 100;
  border-bottom: 1px solid gray;
}
input:hover {
  opacity: 0.7;
}

body {
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
}

div {
  font-family: 'Roboto Slab', serif;
}

.headerblock {
  background-color: white;
  z-index: 3;
  position: fixed;
  width: 100%;
  height: 100px;
}

.planet {
  position: absolute;
  z-index: 2;
  height: 600px;
  width: 600px;
}
.stars {
  position: absolute;
  z-index: 1;
  width: auto;
  height: 700px;
  -webkit-transition: .85s ease-in-out;
  -moz-transition: .85s ease-in-out;
  -o-transition: .85s ease-in-out;
  transition: .85s ease-in-out;
}

.headercontent {
  width: 100vw;
  padding-left: 40px;
  padding-right: 40px;
  height: 100px;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon-bar {
  width: 22px;
  transition: all 0.2s;
}

.logocontainer{
  z-index: 2;
}

.logo {
  z-index: 2;
  max-width: 90px;
  height: auto;
}

.invert {
  transition: 0.3s;
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

.spacer {
  height: 100px;
}

.landingcontainer {
  height: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.landingtextcontainer {
  z-index: 2;
  padding-left: 90px;
  padding-right: 40px;
}

.landingcontainer h1{
  font-size: 50px;
  font-weight: 200;
}

.landingcontainer sub{
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 200;
}

.mailingbutton {
  overflow: hidden;
  cursor: pointer;
  margin-top: 18px;
  height: 34px;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 200;
  color: gray;
  -webkit-transition: .15s ease-in-out;
  -moz-transition: .15s ease-in-out;
  -o-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
}

.mailingbutton.hidden {
  margin-top: 0;
  height: 0;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mailingform {
  height: 0;
  overflow: hidden;
  -webkit-transition: .15s ease-in-out;
  -moz-transition: .15s ease-in-out;
  -o-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
  transition-delay: 0.34s;
}

.mailingform.visible {
  height: 155px;
}

.submitbutton {
  cursor: pointer;
  margin-top: 18px;
  background-color: gray;
  padding-left: 4px;
  padding-right: 4px;
  color: white;
}
